[submodule "LinkNet"]
	path = LinkNet
	url = https://github.com/gy20073/LinkNet.git
[submodule "CIL_modular"]
	path = CIL_modular
	url = https://github.com/gy20073/CIL_modular.git
[submodule "yolo/pydarknet"]
	path = yolo/pydarknet
	url = https://github.com/gy20073/pydarknet.git
[submodule "yolo/darknet"]
	path = yolo/darknet
	url = https://github.com/gy20073/darknet.git
[submodule "pytorch-linknet"]
	path = pytorch-linknet
	url = https://github.com/gy20073/pytorch-linknet.git
[submodule "camera_driver_yucong"]
	path = camera_driver_yucong
	url = https://github.com/gy20073/camera_driver_yucong.git
