<launch>
    <arg name="use_fake_image" default="true" />
    <arg name="use_real_image" default="false" />

    <arg name="fake_tfrecord_path" default="None" />

    <arg name="driving_model_path" default="None" />

    <arg name="viz_output_path" default="/home/yang/test2.avi" />

    <arg name="prediction_hz" default="None" />
    <arg name="stop_future_frames" default="None" />

    <group ns="vehicle">

        <node name="run_drive_MKZ" pkg="MKZ" type="drive_MKZ.py" output="screen"
              args="$(arg driving_model_path) $(arg prediction_hz) $(arg stop_future_frames)"> </node>

        <node name="run_keyboard_reader" pkg="MKZ" type="keyboard_input.py" output="screen"> </node>

        <node name="run_twist_publisher" pkg="MKZ" type="twist_loop.py" output="screen" args="$(arg prediction_hz)"> </node>

        <node name="run_fake_image" pkg="MKZ" type="fake_image_publisher.py" output="screen"
              if="$(arg use_fake_image)"
              args="$(arg fake_tfrecord_path)"> </node>

        <node name="run_real_image" pkg="MKZ" type="real_image_publisher.py" output="screen"
              if="$(arg use_real_image)" args="$(arg prediction_hz)"> </node>

        <node name="record_visualizations" pkg="image_view" type="video_recorder" output="screen">
            <remap to="vis_continuous_full" from="image"/>
            <param name="filename" value="$(arg viz_output_path)" />
            <param name="fps" value="3" />
        </node>
    </group>


</launch>