<launch>
    <arg name="use_fake_image" default="true" />
    <arg name="use_real_image" default="false" />
    <!-- TODO: include the camera driver here -->
    <arg name="exp_id" default="mm45_v5_ablate_base" />

    <group ns="vehicle">

        <node name="run_drive_MKZ" pkg="mkz_intel" type="drive_MKZ.py" output="screen"
              args="mm45_v5_ablate_base"> </node>

        <node name="run_keyboard_reader" pkg="mkz_intel" type="keyboard_input.py" output="screen"> </node>

        <node name="run_fake_image_pub" pkg="mkz_intel" type="fake_video_publisher.py" output="screen"
              if="$(arg use_fake_image)"  > </node>

        <node name="run_downsample_image" pkg="mkz_intel" type="image_downsampler.py" output="screen"> </node>

    </group>


</launch>