<launch>

  <node pkg="path_follower" name="nmea_to_UTM" type="nmea_to_UTM"/>
  
  <node pkg="path_follower" name="cmd_converter" type="cmd_converter_node"/>

  <node pkg="path_follower" name="waypoints_interface" type="waypoints_interface.py"/>

  <node pkg="path_follower" name="state_estimation" type="state_estimation_wo_GPS.py"/>

  <node pkg="path_follower" name="plotter" type="plotter.py"/>

</launch>


