<launch>
  
  <node pkg="path_follower" name="cmd_converter" type="cmd_converter_node"/>

  <node pkg="path_follower" name="toy_planner_waypoints" type="toy_planner_waypoints.py"/>

  <node pkg="path_follower" name="waypoints_interface" type="waypoints_interface.py"/>

  <node pkg="path_follower" name="plotter" type="plotter.py"/>

  <node pkg="path_follower" name="simu" type="simu.py"/>

</launch>


